.title{
    width:1000px;
    height:100px;
    margin:auto;
    display: flex;
}

.title .home{
    width:300px;
    margin: auto;
}

.title .tx{
    width:700px;
    margin: auto;
    text-align: right;
}

.link_home{
    color:black;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    font-size:35px;
}

.link_tx{
    color:black;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    font-size:20px;
}

.link_login{
    color:black;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    font-size:20px;
}


.title a:visited{
    color:black;
}

.content{
    width:1000px;
    height:2000px;
    margin: auto;
}

table{
    width:100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

table #table_content{
    text-align: center;
}

table th{
    background-color: white;
    border-bottom: 1px solid #444444;
    padding: 2px;
}
table td{
    height: 30px;
}

table tr:nth-child(even){
    background-color:white;
}

table tr:nth-child(odd){
    background-color: #dcdcdc;
}
