.content{
    position:relative;
    height:700px;
    left:0;
    top:110px;
}

.content .TxID{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.content table td .data{
    width:100%;
    position:absolute;
}

.content table td .data a{
    text-decoration: none;
    color:black;
}

.content table td .data a:hover{
    color: #FFAAFF;
}

