.index{
    width:1000px;
    height:1200px;
    position: relative;
    top: 90px;
    left: 0;
    text-align: center;
}

.promotion{
    height:200px;
}

/* ---------notice-------- */

.promotion .notice{
    position: relative;
    background-color: #f6f5f0;
    display: flex;
    height:40px;
}

.promotion .notice_left{
    width:60%;
    height:100%;
    background-color:#333;
    display:flex;
    align-items: center;    
    overflow: hidden;
}

.promotion .notice_left h2{
    color:#fff;
    font-size: 17px;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 20px;   
}

.promotion .notice_left .swiper-container{
    height:100%;
}

.promotion .notice_left .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-left: 20px; 
}

.promotion .notice_right{
    width:40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    align-content: center;
}

.promotion .notice_right h2{
    font-size: 17px;
    font-weight: 700;
}

.promotion .notice_right .plus{
    margin-left: 10px;
}

/* --------awards------- */

.promotion .awards{
    position:relative;
    display:flex;
    height:180px;
}

.promotion .awards .swiper-container{
    height:100%;
    display: flex;
    overflow: hidden;
}

.promotion .awards .swiper-wrapper{
    display: flex;
    align-items: center;
}

.promotion .awards .swiper-container .swiper-slide{
    opacity: .5;
    transition: opacity 1s;
}

.promotion .awards .swiper-container .swiper-slide img{
    width:200px;
    height: 150px;
}

.promotion .awards .swiper-container .swiper-slide-active{
    opacity: 1;
}




