.title{
    width:1000px;
    margin:auto;
}

.content{
    width:1000px;
    height:2000px;
    background-color: yellow;
    margin: auto;
}

table{
    width:100%;
    border: 1px solid #444444;
}

table #table_content{
    text-align: center;
}

table th, td{
    border: 1px solid #444;
}
